/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333333;
}

/* Header */
header {
    background: linear-gradient(135deg, #b22222, #661c0f); /* Dégradé rouge */
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    line-height: 1.6;
    color: #333;
}

/* Sections */
section {
    margin-bottom: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

h2, h3 {
    color: #b22222;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #b22222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative; /* Plus flexible pour les pages longues */
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

footer a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}


form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

form input:focus, form textarea:focus {
    border-color: #b22222;
    outline: none;
    box-shadow: 0 0 5px rgba(178, 34, 34, 0.5);
}

form button {
    background-color: #b22222;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #661c0f;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        padding: 10px;
        text-align: center;
    }
}
